<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="REPLY">
<!-- 	<select id="RepAllList" parameterType="String" resultType="com.bc.model.vo.RepVO">
		SELECT QA_NUM, MEMBER_NUM, S_T, QA_NAME, QA_CONTENT, TO_CHAR(QA_DATE, 'YYYY-MM-DD') AS QA_DATE, T_CODE 
		FROM QA 
		WHERE T_CODE = #{t_code}
	</select> -->
 	<insert id="RepInsert" parameterType="com.bc.model.vo.RepVO">
		INSERT INTO REPLY
			    (REP_NUM, QA_NUM, T_CODE, REP_CONTENT, REP_DATE, MEMBER_NUM)
		VALUES (REPLY_SEQ.NEXTVAL, #{qa_num}, #{t_code}, #{rep_content}, SYSDATE, #{member_num} )
	</insert> 
 	<update id="RepUpdate" parameterType="com.bc.model.vo.RepVO" >
		UPDATE REPLY SET 
			  REP_CONTENT = #{rep_content}  
		WHERE QA_NUM = #{qa_num}
	</update>
 	<delete id="RepDelete" parameterType="int">
		DELETE FROM REPLY
		WHERE QA_NUM = #{qa_num}
	</delete>
	<select id="RepList" parameterType="Int" resultType="com.bc.model.vo.RepVO">
		SELECT * FROM REPLY
		WHERE QA_NUM = #{qa_num}
	</select>  
	
	
</mapper>
















